.container{
    display: flex;
    margin: 0% 5%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 1000px;
    background-color: brown;
    padding: 10px 10px;
}

.item{
    width: 20;
    padding: 0%;
    margin: 5px 5px;
    flex-basis: 0;
    height: 50%;
}

  h1 {
      width: inherit;
    font-size: 1em;
     display: inline;
     max-width: 60px;
     margin-bottom: 10px;
 } 
 h4 {
    font-size: 1em;
    margin: 0%;
    display: inline;
    max-width: 50px;
} 
